
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;700;800&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";


:root {
  --font-plus-jakarta-sans: 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
  --background: #fff;
  --foreground: #222;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-plus-jakarta-sans);
}



body {
  background: #fff;
  color: #222;
  font-family: var(--font-plus-jakarta-sans), 'Plus Jakarta Sans', Arial, Helvetica, sans-serif;
}
